@import '../../scss/style.scss';

.comentarios {
    @include estruturaComentario;
}

.replies{
    margin-top: 20px;
    border-left: 2.5px solid rgb(217, 216, 216);
    padding-left:10px;
    margin-right: 10px;
}
.logo{
    height: 38px;
}
@include cabecario-comentario;

.footer{
    @include alinhamento;
    color: $font-color-destaque;
    @extend .font-bold;
    @extend .jus-cont-space-between;
}

@media only screen and (min-width: 800px) {
    .comentarios {
      width: 752px;
      margin: 0px;
       
    }
    .replies{
        margin-left: 60px;
        padding-left:40px;
    }

  }