@import '../../scss/style.scss';
.reply{
    @include estruturaComentario;
}
.logo{
    height: 35px;
}
@include cabecario-comentario;

.replyingTo{
    color: $font-color-destaque;
    @extend .font-bold;
}
.footer{
    @include alinhamento;
    @extend .jus-cont-space-between;
}
.leftFooter{
    @extend .d-flex;
    @extend .a-i-center;
}
.identifier{
    margin: 0px 10px 0px -5px;
    background-color: $font-color-destaque;
    color: white;
    font-family: $font-family-comentario;
    font-size: 13px;
    width: 32px;
    height: 17px;
    @extend .d-flex;
    @extend .jus-cont-center;
    border-radius: 2px;
    text-align: center;
}