@import '../../scss/style.scss';
.reply{
    @include estruturaComentario;
  
}
.logo{
    height: 35px;
}
@include cabecario-comentario;

.replyingTo{
    color: $font-color-destaque;
    @extend .font-bold;
}
.footer{
    @include alinhamento;
    @extend .jus-cont-space-between;
    margin-bottom: 10px;
}


em{
    font-style: normal;
    margin-right: 0px;
}

@media only screen and (min-width: 800px) {
    .reply {
      width: 645px;
      margin: 0px;
      margin-bottom: 10px;
    
    }
  }