@import '../../scss/style.scss';

#home{
    @include padraoInicial;
    background-color: $background-principal;
    padding: 20px 15px 15px 15px;
}
.card{
    width: 100%;
    display: flex;
    justify-content: center;
}