@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Rubik:wght@400;500;600&display=swap');


$background-principal:hsl(228, 33%, 97%);
$background-appComentario: white;
$font-color-destaque:hsl(238, 40%, 52%);
$font-color-comentario: hsl(211, 10%, 45%);
$font-family-comentario: 'Rubik', sans-serif;
$font-color-comentario-cabecario-usarname:hsl(212, 24%, 26%);
$font-color-button-delete: hsl(358, 79%, 66%);
$font-color-button-delete-edit: hsl(357, 100%, 86%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.a-i-center{
    align-items: center;
}

.font-bold{
    font-weight: bold;
}
.opacity{
    opacity: 0.4;
}
@each $margin-top in (15,20){
    .m-top-#{$margin-top}{
        margin-top: $margin-top+px;
    }
}

.m-right-5{
    margin-right: 5px;
}
.comentario{
    padding-right: 1px;
    height: auto;
    flex-wrap: wrap;
}
.identifier{
    margin: 0px 10px 0px -5px;
    background-color: $font-color-destaque;
    color: white;
    font-family: $font-family-comentario;
    font-size: 13px;
    width: 32px;
    height: 17px;
    @extend .d-flex;
    @extend .jus-cont-center;
    border-radius: 2px;
    text-align: center;
}
.leftFooter{
    @extend .d-flex;
    @extend .a-i-center;
}


textarea{
    @extend .m-top-15;
    @extend .b-r-10;
    width: 100%;
    // height: 150px;
    padding: 3px;
    font-family: $font-family-comentario;
    font-weight: 400;
    font-size: 16px;
    color:  $font-color-comentario;
}

@each $justify-content in (center, space-between) {
    .jus-cont-#{$justify-content } {
        justify-content: $justify-content ;
    }
}

@each $border-radius in (15,10){
    .b-r-#{$border-radius}{
        border-radius: $border-radius+px;
    }
}



@mixin padraoInicial {
    margin: 0px;
    padding: 0px;
}

@mixin alinhamento {
    @extend .d-flex;
    @extend .a-i-center;
}



@mixin dimensoesButton {
    height: 40px;
    width: 90px;
    @include alinhamento;
    @extend .jus-cont-center;
    margin-top: 12px;
    color: $font-color-destaque;
    @extend .b-r-10;
}

@mixin estruturaComentario {
    background-color: $background-appComentario;
    @extend .m-top-20;
    @extend .b-r-15;
    padding: 15px;
    font-family: $font-family-comentario;
    font-weight: 400;
    font-size: 16px;
    color:  $font-color-comentario;
}


@mixin cabecario-comentario {
    .cabecario{
       @include alinhamento;
        .username{
            margin: 0px 15px 0px 10px;
            color:$font-color-comentario-cabecario-usarname;
            @extend .font-bold;
        }
    }
}

.buttonScore{
    background-color:  $background-principal;
   @include dimensoesButton;
}

.score{
    font-weight: bold;
    margin: 0px 15px 0px 15px;
}

.btnScore{
    padding: 2px;
    font-size: 15px;
}
.btnScore:hover{

    cursor: pointer;
}